/venv/
/.idea/
/波士顿房价预测/LR_model.pdparams
/手写数字识别/mnist.pdparams
/手写数字识别/work/mnist-cnn.pdparams
/手写数字识别/mnist-fc.pdparams
/手写数字识别/work/log/
/手写数字识别/work/checkpoints/
/计算机视觉/work/
/自然语言处理/text8.txt
/自然语言处理/skip_gram_ckpt3.0.pdparams
/自然语言处理/res/
/情感分析/aclImdb_v1.tar.gz
/情感分析/aclImdb_v1/
/情感分析/sentiment_classifier.pdopt
/情感分析/sentiment_classifier.pdparams
